<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="{{ url_for("index") }}">Books</a>
        <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                  {% if session['user']  %}
                      <li class="nav-item active">
                        <button class="btn btn-outline-primary">
                          <a href="{{ url_for("search") }}">Search</a>
                        </button>
                      </li>
                  {%  endif %}
              </ul>
              {% if session['user']  %}
                  <span style="color:#33b5e5" class="active mx-2">Welcome, {{ session['user'] }}</span>
                  <button class="nav-item btn btn-outline-primary">
                      <a href="{{ url_for("logout") }}">Logout</a>
                  </button>
              {%  endif %}
        </div>
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="alert alert-primary text-center mx-0 my-0" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>

    <div style="height: 100vh;">
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
    </div>

</body>
</html>
